<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.booking.dao.mybatis.TravelBookingSystemMapper">

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO travel_booking_system (
        system_name,
        created_at
        )
        VALUES (
        #{systemName},
        #{createdAt}
        )
    </insert>

    <select id="findById"
            resultType="com.travel.booking.model.TravelBookingSystem">

        SELECT *
        FROM travel_booking_system
        WHERE id = #{id}

    </select>

    <select id="findAll"
            resultType="com.travel.booking.model.TravelBookingSystem">

        SELECT *
        FROM travel_booking_system

    </select>

    <update id="update">

        UPDATE travel_booking_system
        SET
        systemName = #{systemName}
        WHERE id = #{id}

    </update>

    <delete id="delete">

        DELETE FROM travel_booking_system
        WHERE id = #{id}

    </delete>

</mapper>